

.remodal-bg.remodal-is-opening,.remodal-bg.remodal-is-opened {
filter:blur(3px)
}

.remodal-overlay {
background:rgba(43,46,56,0.9)
}

.remodal-overlay.remodal-is-opening,.remodal-overlay.remodal-is-closing {
animation-duration:.3s;
animation-fill-mode:forwards
}

.remodal-overlay.remodal-is-opening {
animation-name:remodal-overlay-opening-keyframes
}

.remodal-overlay.remodal-is-closing {
animation-name:remodal-overlay-closing-keyframes
}

.remodal-wrapper {
padding:10px 10px 0
}

.remodal {
box-sizing:border-box;
width:100%;
max-width:700px;
margin-bottom:10px;
padding:35px;
transform:translate3d(0,0,0);
color:#fff;
box-shadow:0 0 40px #1f1f1f;
border-top:5px solid #02ba96;
background:#282828;
transition:.3s;
background:-moz-linear-gradient(left,#282828 0%,#353535 100%);
background:-webkit-linear-gradient(left,#282828 0%,#353535 100%);
background:linear-gradient(to right,#282828 0%,#353535 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828',endColorstr='#353535',GradientType=1)
}

.remodal h1 {
text-transform:uppercase;
color:#fff;
font-size:24px;
letter-spacing:1px;
font-weight:500
}

.remodal.remodal-is-opening,.remodal.remodal-is-closing {
animation-duration:.3s;
animation-fill-mode:forwards
}

.remodal.remodal-is-opening {
animation-name:remodal-opening-keyframes
}

.remodal.remodal-is-closing {
animation-name:remodal-closing-keyframes
}

.remodal,.remodal-wrapper:after {
vertical-align:middle
}

.remodal-close {
position:absolute;
top:0;
right:0;
display:block;
overflow:visible;
width:40px;
height:40px;
margin:0;
padding:0;
cursor:pointer;
transition:color .2s;
text-decoration:none;
color:#95979c;
border:0;
outline:0;
background:transparent
}

.remodal-close:hover,.remodal-close:focus {
color:#fff
}

.remodal-close:before {
font-family:Arial,"Helvetica CY","Nimbus Sans L",sans-serif!important;
font-size:30px;
line-height:40px;
position:absolute;
top:0;
left:0;
display:block;
width:40px;
content:"\00d7";
text-align:center
}

.remodal-confirm,.remodal-cancel {
font:inherit;
display:inline-block;
overflow:visible;
min-width:110px;
margin:0;
padding:12px 0;
cursor:pointer;
transition:background .2s;
text-align:center;
vertical-align:middle;
text-decoration:none;
border:0;
outline:0
}

.remodal-confirm {
color:#fff;
background:#81c784
}

.remodal-confirm:hover,.remodal-confirm:focus {
background:#66bb6a
}

.remodal-cancel {
color:#fff;
background:#e57373
}

.remodal-cancel:hover,.remodal-cancel:focus {
background:#ef5350
}

.remodal-confirm::-moz-focus-inner,.remodal-cancel::-moz-focus-inner,.remodal-close::-moz-focus-inner {
padding:0;
border:0
}

@keyframes remodal-opening-keyframes {
from {
transform:scale(1.05);
opacity:0
}

to {
transform:none;
opacity:1
}
}

@keyframes remodal-closing-keyframes {
from {
transform:scale(1);
opacity:1
}

to {
transform:scale(0.95);
opacity:0
}
}

@keyframes remodal-overlay-opening-keyframes {
from {
opacity:0
}

to {
opacity:1
}
}

@keyframes remodal-overlay-closing-keyframes {
from {
opacity:1
}

to {
opacity:0
}
}

.lt-ie9 .remodal-overlay {
background:#2b2e38
}

.lt-ie9 .remodal {
width:700px
}

html.remodal-is-locked {
overflow:hidden;
touch-action:none
}

.remodal,[data-remodal-id] {
display:none
}

.remodal-overlay {
position:fixed;
z-index:9999;
top:-5000px;
right:-5000px;
bottom:-5000px;
left:-5000px;
display:none
}

.remodal-wrapper {
position:fixed;
z-index:10000;
top:0;
right:0;
bottom:0;
left:0;
display:none;
overflow:auto;
text-align:center;
-webkit-overflow-scrolling:touch
}

.remodal-wrapper:after {
display:inline-block;
height:100%;
margin-left:-.05em;
content:""
}

.remodal-overlay,.remodal-wrapper {
backface-visibility:hidden
}

.remodal {
position:relative;
outline:none;
text-size-adjust:100%
}

.remodal-is-initialized {
display:inline-block
}

.modaldesc {
margin-top:40px;
font-size:16px;
line-height:1.4;
text-align:left;
position:relative
}

.modaldesc b {
font-weight:500
}

.modaldesc img {
height:18px;
vertical-align:-3px
}

.modaldesc .maincontform {
margin:0 auto 40px
}

.modaldesc h3 {
font-size:22px;
margin:20px 0;
border-left:4px solid #02ba96;
padding-left:10px;
font-weight:300
}

.modalline {
margin:6px 0
}

.modalline i {
color:#02ba96
}

.modalline b {
color:#02ba96
}

.dashmodal {
width:100%;
height:2px;
background:url(../img/dash.png) center;
margin-bottom:35px
}

.modallineflex {
display:flex;
justify-content:space-between;
flex-wrap:wrap
}

.modallineflex .modallinenotify {
font-size:12px;
margin-top:12px;
font-style:italic
}

.modallinewrap {
width:50%
}

.modallinewrap .withdrawButton {
margin-top:4px
}

.modallinewrap:nth-of-type(2) {
border-left:1px solid #535353;
padding-left:20px
}

.modallinewrapvalue {
color:#02ba96;
font-weight:500;
font-size:42px;
line-height:1;
margin-top:8px
}

.modallinewrapvalue img {
height:36px
}

.modalref {
margin-top:20px;
font-size:14px;
font-weight:300;
line-height:1.4
}

.modalref span {
display:block;
text-decoration:underline;
color:#02ba96
}

.modalref small {
font-size:12px;
font-style:italic
}

.modallogo {
height:60px
}

.modallink {
color:#02ba96
}

.modallink:hover {
text-decoration:none
}
